version: "3"
services:
  postgres:
    container_name: drd-discordbot-db
    hostname: ${DB_HOST}
    restart: always
    build: ./build/db
    ports:
      - ${DB_PORT}:5432
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
  bot:
    build: .
    container_name: drd-discordbot
    links:
      - postgres
    depends_on:
      - postgres
    environment:
      - WAIT_HOSTS=${DB_HOST}:5432
volumes:
  ? pgdata
